*.kpf
.DS_Store
Thumbs.db
*.swp
_notes
~*
.project
.settings
.buildpath
.idea/*
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
/vendor/
/node_modules/
/bower_components/
/build/*
!/build/build.xml
!/build/package-contents.txt
